{% extends 'main/loyout.html' %}

{% block title %} Форма по добавлению статьи {% endblock %}

{% block content %}
     <div class="features">
        <h1>Форма для добавления записей</h1>
       <form style=" margin-left: 32%; width: 500px; margin-top: 50px;" method="post">
           {% csrf_token %}

           {{form.title}}<br>
           {{form.anons}}<br>
           {{form.full_text}}<br>
           {{form.date}}<br>

            <span>{{error}}</span>
           <button class="btn btn-success" type="submit">Добавть</button>
       </form>
    </div>
{% endblock %}